
.best-sellers-box {
    width: 1500px;
    margin: 0 auto;
    max-width: 90%;
}

.best-sellers {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    max-width: 100%;
    margin: 0 auto 5rem auto;
    
    
    @include respond(tab-land){
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond(tab-port){
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone){
        grid-template-columns: repeat(1, 1fr);
    }

}

.more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    & a {
        @include btn(white, $color-text, 1.5rem, 5rem);
    }
}